@font-face {
    font-family: Abeganshi;
    src: url(fuentes/Abeganshi.ttf);
}
@font-face {
    font-family: Geometos;
    src: url(fuentes/Geometos.ttf);
}
@font-face {
    font-family: LEMONMILK-Bold;
    src: url(fuentes/LEMONMILK-Bold.otf);
}
